<div class="{{c}}__inner-wrapper
            component">
    <div class="{{c}}__content-wrapper"
         style="{% if font %}
                    font-family: '{{ font }}';
                {% endif %}
                {% if text_color %}
                    color: {{ text_color }};
                {% endif %}">
        {{ content_html }}
    </div>
</div>