<div class="{{c}}__inner-wrapper
            component">
    <img src="{{ image }}" alt="{{ image_seo_description }}" />
    <div class="{{c}}__content-wrapper">
        {{ content_html }}
    </div>
</div>